* {
    margin: 0; padding: 0;
}
html, body, #page {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
}
.page {
    display: flex;
    flex-direction: column;
}
header {
    background: white;
}
main {
    flex:1 0 auto;
    background-color: red;
}
main2 {
    flex:1 0 auto;
    background-color: white;
}
nav {
    text-decoration: none
}