* {
    margin: 0; padding: 0;
}
html, body, #container {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header {
    height: 50px;
    background: white;
}
main {
    height: 100%;
    background: red;
}
.half {
    height: 50%;
}
.half:first-child {
    background: white;
}
.half:last-child {
    background: gray;
}
.red_box {
    border: 1px red solid;
    color: white;
    background: red;
}
#logo_area {
    
}